* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Euclid Circular A;
    src: url(EuclidCircularA-Regular.ttf);
    /* src: url(EuclidCircularA-Bold.ttf);
    src: url(EuclidCircularA-Medium.ttf);
    src: url(EuclidCircularA-Semibold.ttf); */
  }

html,
body {

    height: 100vh;
    width: 100vw;
    font-family: 'Euclid Circular A';
    background-color: #faf7f7;
    scroll-behavior: smooth;
}


nav {

    display: flex;
    align-items: center;
    padding: 0 12vw;
    /* margin-top: 2vh; */
    justify-content: space-between;
    background-color: #fff;
    height: 10vh;
    position: relative;

}

.right img {

    height: 40px;
    border-radius: 10px;

}

.right {

    display: flex;
    gap: 20px;
    align-items: center;
}

.left {

    display: flex;
    gap: 20px;
    margin-right: 2.3vw;

}

.left a {

    text-decoration: none;
    color: #000;
    text-transform: uppercase;

}

.left a:hover {

    border-bottom: 1px solid black;
    transition: all ease 0.5s;
}

.btn {

    height: 4.6vh;
    width: 10vw;
    text-transform: uppercase;
    color: #000;
    border: none;
    border-radius: 15px;
    background-color: #f4b857;
    background-image: url(https://th.bing.com/th/id/R.832e187d328e4990fc5bcccfe25be8b9?rik=twxR24Io%2FoCqrw&riu=http%3A%2F%2Fwallpapercave.com%2Fwp%2Fo49OKwz.jpg&ehk=D%2FGxL5%2F00lVYxkrV3Pzr6XBkHtqW3X71u0Ial53Aadg%3D&risl=&pid=ImgRaw&r=0);
    cursor: pointer;

}


.btn a {


    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Euclid Circular A';
    
}

.head {

    height: 1%;
    margin-left: 4vw;
    margin-top: 5vh;
    margin-bottom: -7vh;
    font-size: 50px;
    color: rgb(218, 188, 57);

}

.canvas1 {
    /* background-image: url(https://media.gettyimages.com/photos/yellow-paper-background-picture-id472090033?b=1&k=6&m=472090033&s=612x612&w=0&h=FZYDkVKg4XNgUFVUl_C5cN1sBzRKM2v_c8DZfbgz-EU=); */
    /* background-image: url(https://static.vecteezy.com/system/resources/previews/001/330/239/original/wavy-yellow-watercolor-stroke-texture-free-vector.jpg); */
    /* background-image: url(https://th.bing.com/th/id/R.832e187d328e4990fc5bcccfe25be8b9?rik=twxR24Io%2foCqrw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fo49OKwz.jpg&ehk=D%2fGxL5%2f00lVYxkrV3Pzr6XBkHtqW3X71u0Ial53Aadg%3d&risl=&pid=ImgRaw&r=0); */
    background-color: rgb(0, 0, 0);
    height: 68%;
    display: flex;
    border-radius: 20px;
    margin: 140px 3vw;
    margin-bottom: 11vh;
    z-index: 0;

}

.canvas1 .right {
    /* background-color: aquamarine; */
    height: 100%;
    width: 100%;
}

.right iframe {
    border-radius: 20px 20px 20px 20px;
    cursor: none;
}

.canvas1 .text h1 {

    padding-top: 20vh;
    text-transform: uppercase;
    padding-left: 2vw;
    color: #ffffff;
}

.canvas1 .text p {

    padding-left: 2vw;
    font-size: 19px;
    padding-right: 3vw;
    color: #ffffff;
}


.HR {

    margin-left: 3vw;
}

.swiper {
    width: 80%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    justify-content: center;

}

.swiper-slide {
    border-radius: 20px;
    /* text-align: center; */
    font-size: 18px;
    /* background: #b85f5f; */
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: block;
    justify-content: flex-start;
    align-items: flex-end;
}

.swiper-slide:hover {

    cursor: pointer;
}

.swiper-slide img {
    height: 12.5vw;
    border-radius: 20px;

}

.btn-3 {

    width: 7vw;
    height: 4vh;
    border-radius: 15px;
    margin-top: 5vh;
    margin-left: 2vw;
    border: none;
    font-weight: bold;
    font-family: 'Euclid Circular A';
    cursor: pointer;
    background-color: rgb(206, 182, 77);



}

.btn-3 a{

    text-decoration: none;
    color: #000;
}

.kal {
    width: 7vw;
    height: 4vh;
    border-radius: 15px;
    margin-top: 5vh;
    margin-left: 2vw;
    border: none;
    font-weight: bold;
    font-family: 'Euclid Circular A';
    text-decoration: none;
    background-color: #000;
    cursor: pointer;
    border: 1px solid yellow;


}

.kal a {

    text-decoration: none;
    color: #ffffff;
    
}
